#main {
  background-color: #F5F5F5; }
  #main .container div {
    margin-bottom: 30px;
    height: 1193px;
    border: 1px solid red; }
    #main .container div h3 {
      height: 53px;
      border: 1px solid green; }
    #main .container div ul {
      margin-top: 10px; }
      #main .container div ul li {
        float: left;
        width: 230px;
        height: 370px;
        margin-bottom: 10px;
        margin-right: 7px;
        border: 1px solid skyblue; }
  #main .container .warp {
    display: none;
    position: fixed;
    right: 51px;
    bottom: 52px;
    width: 60px;
    background: url(../img/floor-nav.fw.png) no-repeat 0px 0px;
    cursor: pointer; }
    #main .container .warp li {
      padding: 2px;
      text-align: center; }
      #main .container .warp li a {
        display: block;
        height: 50px;
        width: 50px;
        font-size: 0px;
        line-height: 25px; }
      #main .container .warp li .active {
        color: #fff;
        background: red;
        font-size: 18px; }

#h_banner {
  min-height: 470px;
  background: url(../img/bg-01.jpg) repeat center; }
  #h_banner .container {
    position: relative; }
    #h_banner .container .cal {
      min-height: 470px; }
      #h_banner .container .cal .size {
        height: 470px;
        width: 755px; }
    #h_banner .container .banner {
      margin: 0 auto; }
    #h_banner .container a {
      display: inline-block;
      width: 200px;
      height: 470px;
      position: absolute;
      right: 0px;
      top: 0px;
      background: url(../img/banner_r.jpg); }

#head #h_nav .tal ul {
  display: block; }
